* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg {
    background-image: url("../img/daniel-leone-g30P1zcOzXo-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: Quicksand;
}
@font-face {
    font-family: Quicksand;
    src: url(../../font/static/Quicksand-Light.ttf);
}
a {
    text-decoration: none;
    color: white;
}

.login {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form input {
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: Quicksand;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.2s;
}

form input:hover {
    opacity: 0.8;
}
.footer-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#submit {
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 40px;
    font-family: Quicksand;
    opacity: 0.7;
    transition: 0.2s;
}
#submit:hover {
    background-color: #57838c;
    color: white;
}
